@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 145 33% 91%;
    --foreground: 224 76% 15%;
    --card: 145 33% 96%;
    --card-foreground: 224 76% 15%;
    --popover: 145 33% 96%;
    --popover-foreground: 224 76% 15%;
    --primary: 181 49% 43%;
    --primary-foreground: 180 100% 98%;
    --secondary: 145 25% 85%;
    --secondary-foreground: 224 76% 25%;
    --muted: 145 25% 85%;
    --muted-foreground: 224 76% 40%;
    --accent: 206 60% 82%;
    --accent-foreground: 224 76% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 181 30% 80%;
    --input: 181 30% 88%;
    --ring: 181 49% 43%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 49% 43%;
    --primary-foreground: 180 100% 98%;
    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 18%;
    --muted-foreground: 216 12% 84%;
    --accent: 206 60% 82%;
    --accent-foreground: 224 76% 25%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 181 49% 53%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glassmorphism {
    @apply bg-card/60 backdrop-blur-xl border-white/20;
  }
}
